<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{mail.titre.reinitMdp}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <p th:text="#{mail.bonjour}">

        <span th:text="${user.sso}">Utilisateur</span>
    </p>
    <p th:text="#{mail.texte.reinit}">

    </p>
    <p>
        <a th:href="@{|${baseurl}/reinitmdp?key=${user.link}|}"
           th:text="@{|${baseurl}/reinitmdp?key=${user.link}|}">Cliquez içi</a>
    </p>
    </body>
</html>
