<div class="form-wrapper">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input type="text" class="form-control" name="username" placeholder="{{'Login' | translate}}" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="alert alert-danger">{{'Login requis' | translate}}</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input type="password" class="form-control" name="password" placeholder="{{'Mot de passe' | translate}}" [(ngModel)]="model.password" #password="ngModel" required minlength="6"/>
      <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">{{'Mot de passe requis' | translate}}</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading || !f.form.valid" class="btn btn-primary" >{{'Se connecter' | translate}}</button>
    </div>

    <div class="form-group">
      <input id="checkRemember" name="checkRemember" type="checkbox" [disabled]="loading" [(ngModel)]="remember"/>
      <label for="checkRemember">{{'Se souvenir de moi' | translate}}</label>
    </div>
  </form>
  <div class="form-group">
    <button (click)="forgetMdp()" class="btn btn-light">{{'Mot de passe oublie' | translate}}</button>
  </div>
</div>
