<article>
  <div class="row justify-content-center">
    <h2 class="col-xs-12 ">{{'Gestion des profils' | translate}}</h2>
  </div>
  <div class="row  justify-content-center">
    <profil-search></profil-search>
  </div>
  <div class="row  justify-content-center">
    <div class="col-xs-12 my-auto">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>{{'Identifiant' | translate}}</th>
          <th>{{'Libelle' | translate}}</th>
          <th>{{'Modifier' | translate}}</th>
          <th>{{'Supprimer' | translate}}</th>
        </tr>
        </thead>
        <tr *ngFor="let profil of profils">
          <td><span >{{profil.id}}</span></td>
          <td><span >{{profil.libelle}}</span></td>
          <td><button (click)="edit(profil);" class="btn btn-secondary">{{'Modifier' | translate}}</button></td>
          <td><button (click)="delete(profil); $event.stopPropagation()" class="btn btn-danger">x</button></td>
        </tr>
      </table>
      <button (click)="add()" class="btn btn-light">{{'Ajouter' | translate}}</button>
    </div>
  </div>
</article>

