.search-result {
  border : 1px solid gray;
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

#search-box{
  width: 200px;
  height: 20px;
}
