<article>
  <form name="formMajCompte" (ngSubmit)="f.form.valid && saveInfoProfil()" #f="ngForm">

    <h2 class="center-text">Vos informations</h2>

    <div class="form-group row decale">
      <label for="inputLibelleNom" class="col-sm-3 col-form-label ">Nom : </label>
      <div class="col-xs-9">
        <input id="inputLibelleNom" name="inputLibelleNom" class="form-control" [(ngModel)]="utilisateur.nom" placeholder="Nom de famille" required minlength="2" maxlength="100" #nom="ngModel" />
        <div *ngIf="f.submitted && nom.dirty && nom.invalid">
          <small class="form-text text-danger" *ngIf="nom.errors.required">
            Ce champ est requis
          </small>
          <small class="form-text text-danger" *ngIf="nom.errors.minlength">
            Ce champ est trop court
          </small>
          <small class="form-text text-danger" *ngIf="nom.errors.maxlength">
            Ce champ est trop long
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputLibellePrenom" class="col-sm-3 col-form-label">Prénom : </label>
      <div class="col-xs-9">
        <input id="inputLibellePrenom" name="inputLibellePrenom" class="form-control" [(ngModel)]="utilisateur.prenom" placeholder="Prénom usuel" required minlength="2" maxlength="100" #prenom="ngModel" />
        <div *ngIf="f.submitted && prenom.dirty && prenom.invalid">
          <small class="form-text text-danger" *ngIf="prenom.errors.required">
            Ce champ est requis
          </small>
          <small class="form-text text-danger" *ngIf="prenom.errors.minlength">
            Ce champ est trop court
          </small>
          <small class="form-text text-danger" *ngIf="prenom.errors.maxlength">
            Ce champ est trop long
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputLibelleMail" class="col-sm-3 col-form-label">Email : </label>
      <div class="col-xs-9">
        <input id="inputLibelleMail" name="inputLibelleMail" class="form-control" [(ngModel)]="utilisateur.email" type="email" placeholder="adresse mail valide" required email minlength="5" maxlength="100" #mail="ngModel" />
        <div *ngIf="f.submitted && mail.dirty && mail.invalid">
          <small class="form-text text-danger" *ngIf="mail.errors.required">
            L'adresse mail est requis
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.invalid">
            L'adresse email n'est pas valide
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.minlength">
            L'adresse mail doit faire au moins 5 caractères
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.maxlength">
            L'adresse mail ne peut pas faire plus de 100 caractères
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row center-text">
      <div class="col-sm-12">
        <button class="btn btn-primary" [disabled]="!f.form.valid">Mettre à jour</button>
      </div>
    </div>

  </form>
</article>

<article>
  <form name="formMajMdp" (ngSubmit)="fb.form.valid && savePassword()" #fb="ngForm">
    <h2 class="center-text">Changer votre mot de passe</h2>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <div class="form-group row decale">
      <label for="inputOldPass" class="col-sm-3 col-form-label">Ancien mot de passe : </label>
      <div class="col-xs-9">
        <input id="inputOldPass" name="inputOldPass" class="form-control" [(ngModel)]="oldPass" placeholder="Votre mot de passe actuel" required minlength="6" maxlength="100" type="password" #oldPassNgModel="ngModel" />
        <div *ngIf="fb.submitted && oldPassNgModel.dirty && oldPassNgModel.invalid">
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.required">
            Ce champ est requis
          </small>
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.minlength">
            Ce champ est trop court
          </small>
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.maxlength">
            Ce champ est trop long
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputNewPass" class="col-sm-3 col-form-label">Nouveau mot de passe :</label>
      <div class="col-xs-9">
        <input id="inputNewPass" name="inputNewPass" class="form-control" [(ngModel)]="newPass" placeholder="6 caractères minimum" required minlength="6" maxlength="100" type="password" #newPassNgModel="ngModel" (change)="checkPassword()"/>
        <password-strength-bar [passwordToCheck]="newPass"></password-strength-bar>
        <div *ngIf="fb.submitted && newPassNgModel.dirty && newPassNgModel.invalid">
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.required">
            Ce champ est requis
          </small>
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.minlength">
            Ce champ est trop court
          </small>
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.maxlength">
            Ce champ est trop long
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="newPassConfirm" class="col-sm-3 col-form-label">Confirmation de votre mot de passe :</label>
      <div class="col-xs-9">
        <input id="newPassConfirm" name="newPassConfirm" class="form-control" [(ngModel)]="newPassconfrm" placeholder="Le nouveau mot de passe" required minlength="6" maxlength="100" type="password" #newPassconfrmNgModel="ngModel" (change)="checkPassword()" />
        <div *ngIf="fb.submitted && newPassconfrmNgModel.dirty && newPassconfrmNgModel.invalid">
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.required">
            Ce champ est requis
          </small>
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.minlength">
            Ce champ est trop court
          </small>
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.maxlength">
            Ce champ est trop long
          </small>
          <small class="form-text text-danger" *ngIf="errorMdp">
            Les mots de passe ne correpsondent pas
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row center-text">
      <div class="col-sm-12">
        <button class="btn btn-primary" [disabled]="!fb.form.valid || errorMdp">Changer le mot de passe</button>
      </div>
    </div>
  </form>

</article>

<article>
  <h2 class="center-text">Supprimer mon compte</h2>

  <div class="form-group row center-text">
    <div class="col-sm-12">
      <button class="btn btn-danger" data-toggle="modal" data-target="#dlgConfirmEfface">Supprimer le compte</button>
    </div>


    <div class="modal fade" id="dlgConfirmEfface" role="dialog" aria-labelledby="modalLabel" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">Supprimer le compte</h4>
          </div>
          <div class="modal-body">
            <p class="font-weight-bold">Attention cette action effacera toute vos données et est irréversible. Continuer ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="supprimerCompte()" data-dismiss="modal">Oui</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

