<article>
  <form name="formMajCompte" (ngSubmit)="f.form.valid && saveInfoProfil()" #f="ngForm">

    <h2 class="center-text">{{'Vos informations' | translate}}</h2>

    <div class="alert alert-info center-text" *ngIf="isDataChange">
      {{'Changements effectue' | translate}}
    </div>

    <div class="form-group row decale">
      <label for="inputLibelleNom" class="col-sm-3 col-form-label ">{{'Nom' | translate}} : </label>
      <div class="col-xs-9">
        <input id="inputLibelleNom" name="inputLibelleNom" class="form-control" [(ngModel)]="utilisateur.nom" required minlength="2" maxlength="100" #nom="ngModel" />
        <div *ngIf="f.submitted && nom.dirty && nom.invalid">
          <small class="form-text text-danger" *ngIf="nom.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="nom.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="nom.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputLibellePrenom" class="col-sm-3 col-form-label">{{'Prenom' | translate}} : </label>
      <div class="col-xs-9">
        <input id="inputLibellePrenom" name="inputLibellePrenom" class="form-control" [(ngModel)]="utilisateur.prenom" required minlength="2" maxlength="100" #prenom="ngModel" />
        <div *ngIf="f.submitted && prenom.dirty && prenom.invalid">
          <small class="form-text text-danger" *ngIf="prenom.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="prenom.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="prenom.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputLibelleMail" class="col-sm-3 col-form-label">{{'Email' | translate}} : </label>
      <div class="col-xs-9">
        <input id="inputLibelleMail" name="inputLibelleMail" class="form-control" [(ngModel)]="utilisateur.email" type="email" required email minlength="5" maxlength="100" #mail="ngModel" />
        <div *ngIf="f.submitted && mail.dirty && mail.invalid">
          <small class="form-text text-danger" *ngIf="mail.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.invalid">
            {{'Adresse mail non valide' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="mail.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row center-text">
      <div class="col-sm-12">
        <button class="btn btn-primary" [disabled]="!f.form.valid">{{'Mettre a jour' | translate}}</button>
      </div>
    </div>

  </form>
</article>

<article>
  <form name="formMajMdp" (ngSubmit)="fb.form.valid && savePassword()" #fb="ngForm">
    <h2 class="center-text">{{'Changer votre mot de passe' | translate}}</h2>

    <div class="alert alert-info center-text" *ngIf="isMdpChange">
      {{'Changements effectue' | translate}}
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <div class="form-group row decale">
      <label for="inputOldPass" class="col-sm-3 col-form-label">{{'Ancien mot de passe' | translate}} : </label>
      <div class="col-xs-9">
        <input id="inputOldPass" name="inputOldPass" class="form-control" [(ngModel)]="oldPass" placeholder="{{'Votre mot de passe actuel' | translate}}" required minlength="6" maxlength="100" type="password" #oldPassNgModel="ngModel" />
        <div *ngIf="fb.submitted && oldPassNgModel.dirty && oldPassNgModel.invalid">
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="oldPassNgModel.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="inputNewPass" class="col-sm-3 col-form-label">{{'Nouveau mot de passe' | translate}} :</label>
      <div class="col-xs-9">
        <input id="inputNewPass" name="inputNewPass" class="form-control" [(ngModel)]="newPass" placeholder="{{'6 caracteres minimum' | translate}}" required minlength="6" maxlength="100" type="password" #newPassNgModel="ngModel" (change)="checkPassword()"/>
        <password-strength-bar [passwordToCheck]="newPass"></password-strength-bar>
        <div *ngIf="fb.submitted && newPassNgModel.dirty && newPassNgModel.invalid">
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="newPassNgModel.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row decale">
      <label for="newPassConfirm" class="col-sm-3 col-form-label">{{'Confirmation de votre mot de passe' | translate}} : </label>
      <div class="col-xs-9">
        <input id="newPassConfirm" name="newPassConfirm" class="form-control" [(ngModel)]="newPassconfrm" required minlength="6" maxlength="100" type="password" #newPassconfrmNgModel="ngModel" (change)="checkPassword()" />
        <div *ngIf="fb.submitted && newPassconfrmNgModel.dirty && newPassconfrmNgModel.invalid">
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.required">
            {{'Ce champ est requis' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.minlength">
            {{'Ce champ est trop court' | translate}}
          </small>
          <small class="form-text text-danger" *ngIf="newPassconfrmNgModel.errors.maxlength">
            {{'Ce champ est trop long' | translate}}
          </small>
        </div>
        <small class="form-text text-danger" *ngIf="errorMdp">
          {{'Les mots de passe ne correpsondent pas' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group row center-text">
      <div class="col-sm-12">
        <button class="btn btn-primary" [disabled]="!fb.form.valid || errorMdp">{{'Changer le mot de passe' | translate}}</button>
      </div>
    </div>
  </form>

</article>

<article>
  <h2 class="center-text">{{'Supprimer le compte' | translate}}</h2>

  <div class="form-group row center-text">
    <div class="col-sm-12">
      <button class="btn btn-danger" data-toggle="modal" data-target="#dlgConfirmEfface">{{'Supprimer le compte' | translate}}</button>
    </div>


    <div class="modal fade" id="dlgConfirmEfface" role="dialog" aria-labelledby="modalLabel" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="X">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">{{'Supprimer le compte' | translate}}</h4>
          </div>
          <div class="modal-body">
            <p class="font-weight-bold">{{'Avertissement suprression' | translate}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="supprimerCompte()" data-dismiss="modal">{{'Oui' | translate}}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{'Non' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

